<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>

    <link rel="stylesheet" href="/css/style.css" />
    <title>Ghor Khuji</title>
  </head>
  <body>
    <div class="container-fluid px-0">
      <!-- header section starts here ============== -->
      <header>
        <div
          class="row header d-flex justify-content-between align-items-center"
        >
          <div class="col-6 col-md-3 d-flex order-1 order-md-1 py-2">
            <div class="logo">
              <a href="/"
                ><h3 class="text-success fw-bold mx-2">
                  Ghor
                  <span class="text-muted khuji">Khuji</span>
                  <i class="fa-solid fa-house-laptop d-none d-md-block"></i></h3
              ></a>
            </div>
          </div>

          <form
            class="col-12 col-md-6 d-flex justify-content-center align-items-center order-3 order-md-2 my-2"
          >
            <div
              class="search-box search-input-group d-flex w-100 w-md-75 w-lg-50"
            >
              <input
                type="text"
                class="search-input form-control"
                placeholder="Where are you going?"
              />
              <button
                type="button"
                class="search-btn btn text-success d-flex justify-content-center align-items-center"
              >
                <i class="fa-solid fa-magnifying-glass fs-5"></i>
              </button>
            </div>
          </form>

          <div
            class="mx-0 col-6 col-md-3 d-flex justify-content-end order-2 order-md-3"
          >
            <div class="d-flex align-items-center justify-content-end gap-5">
              <div class="create-new">
                <a
                  href="http://localhost:3000/new"
                  class="icon btn border border-2 rounded-pill bg-white d-flex align-items-center justify-content-center gap-2 w-100"
                >
                  <i class="fa-solid fa-plus"></i>
                  <p class="d-none d-lg-block">Post a Flat</p>
                </a>
              </div>

              <div class="dropdown">
                <button
                  id="dropdownButton"
                  class="dropdown-btn btn d-flex justify-content-center align-items-center gap-2 rounded-pill py-1 px-2 border-success bg-white"
                  onclick="toggleDropdown()"
                >
                  <i class="fa-solid fa-bars fs-6"></i>
                  <div
                    class="user-icon text-white p-2 bg-success rounded-circle d-flex justify-content-center align-items-center"
                  >
                    <i class="fa-solid fa-user fs-6"></i>
                  </div>
                </button>
                <div id="dropdownMenu" class="dropdown-menu">
                  <div class="resister">
                    <a href="#" class="text-success">Sign up</a>
                    <a href="#" class="text-success">Log in</a>
                  </div>
                  <a href="#">Gift cards</a>
                  <a href="#">Host an experience</a>
                  <a href="#">Help Center</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header section ends here ============== -->

      <nav
        class="container d-flex justify-content-between align-items-center w-100"
      >
        <div class="row">
          <div class="col-12">
            <ul
              class="nav-bar d-flex justify-content-center align-items-center py-2"
            >
              <a href="#" class="text-muted nav-active p-2">
                <li
                  class="d-flex flex-column justify-content-center align-items-center gap-2"
                >
                  <i class="fa-solid fa-hotel fs-5"></i>
                  <p>Flat</p>
                </li>
              </a>
              <a href="#" class="mx-4 text-muted p-2">
                <li
                  class="d-flex flex-column justify-content-center align-items-center gap-2"
                >
                  <i class="fa-solid fa-bed fs-5"></i>
                  <p>Seat</p>
                </li>
              </a>
              <a href="#" class="text-muted p-2">
                <li
                  class="d-flex flex-column justify-content-center align-items-center gap-2"
                >
                  <i class="fa-solid fa-fire fs-5"></i>
                  <p>Popular Places</p>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 btn d-flex justify-content-end">
            <button class="btn btn-black border">
              <i class="fa-solid fa-sliders"></i> Fillter
            </button>
          </div>
        </div>
      </nav>

      <!-- main section starts here ============== -->

      <main class="container">
        <div
          class="row cards-container d-flex justify-content-start align-items-center"
        >
          <% for(let flat of flats){ %>
          <div class="col-12 col-md-6 col-lg-3 p-0 d-flex flex-md-column">
            <a href="http://localhost:3000/<%=flat.id %>/details">
              <div class="card mx-2 my-4 border-0">
                <div class="img w-100">
                  <img src="<%= flat.image %>" class="card-img-top" alt="..." />
                </div>
                <div class="card-body p-0 py-2">
                  <h5 class="card-title fs-6 fw-bold"><%=flat.title %></h5>
                  <p class="my-1 text-muted"><%=flat.address %></p>
                  <p class="my-1 text-muted">
                    <%=flat.bedrooms%> Bed - <%= flat.bathrooms %> Bath
                  </p>
                  <h4 class="fs-6">$<%= flat.price %></h4>
                </div>
              </div>
            </a>
          </div>

          <% } %>
        </div>
      </main>

      <div class="mt-5">
        <!-- Footer -->
        <%- include('footer') %>
        <!-- Footer -->
      </div>
      <!-- End of .container -->
    </div>

    <%- include('foot') %>
  </body>
</html>
